{% extends "base.html" %}

{% load static %}

{% block title %}
        Registration
        {% endblock title %}

{% block sidenav %}

        <li><a href="/">HOME</a></li>
{% endblock sidenav %}

{% block content %}
    <h1 align = "center">
        User Registration Page
    </h1>

    <form action = ""  method = "post">
    <table>{{form.as_table}}
        <tr>
            <td>
                <input type = "submit" value = "Submit">
            </td>
        </tr>
    </table>
        <input type = "hidden" name = "next" value="{{ next }}" />
        {% csrf_token %}
    </form>

    <!--<h1>
        This is CS3337 Project. The main goal of this project is to develop a book exchange system
    </h1> -->
{% endblock content %}